html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" 0,
    "opsz" 24;
}

.artsy-blob {
  filter: blur(80px);
  opacity: 0.15;
  z-index: 0;
}

.grainy {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBkSzKhiRdLPmbicm7t49HAaLwfGgcJ5Oj2TnVYlN49PgHRZnA7Sx-M-1IlFlBvQ9afJ-zizlbakffU8ExM2Jz4h4amhDPOocHUte282Pwuexf-jYXazmFVWEi_hWk5RlDed3FYnKKj9Y5whcD0vL-jZfhaN5cut0Nj0q19WbKdGJnYaWOiYm4-Wb3MMJ39PZC1ELAVlWdZldk0PsdpPj_dhhifq1ksybjzaBAM_rh9ZX8PCwkq4y_N5oEF_5wMhnO2fyiVTkROYMo");
  filter: contrast(150%) brightness(100%);
}


